aside {
  background-color: $grayColor;
  padding: 16px;
  border-radius: 10px;
  @include xl {
    padding: 20px 10px;
  }
  figure {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      @include lg {
        display: none;
      }
      font-size: 22px;
      font-weight: bold;
    }

    img {
      width: 40px;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;

    i {
      font-size: 24px;
      @include lg {
        font-size: 19px;
      }
    }

    span {
      font-size: 18px;
      font-weight: bold;
      color: $greenColor;
      @include lg {
        display: none;
      }
    }

    a {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 10px;
      &:hover {
        background-color: $greenColor;
        color: $blackColor;
      }
    }
  }
}
