main {
  background-color: $grayColor;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;

  header {
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(12px);
    background: rgba(92, 239, 188, 0.18);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    animation: slideDown 0.7s ease forwards;
    z-index: 999;
    transition: padding 0.35s ease, backdrop-filter 0.35s ease;

    form {
      display: flex;
      width: 100%;
      box-shadow: 0 0 10px;
      max-width: 350px;
      border-radius: 5px;

      @include md {
        max-width: unset;
      }
      input {
        background: transparent;
        padding: 15px;
        width: 100%;
        color: $textColor;
      }
      button {
        background: none;
        cursor: pointer;
        margin-right: 10px;
        color: $textColor;
      }
    }

    nav {
      display: flex;
      gap: 15px;
      @include md {
        display: none;
      }

      span {
        font-size: 14px;
        cursor: pointer;
        white-space: nowrap;
        &:hover {
          color: white;
        }
      }
    }
  }
}

//section
section {
  margin-top: 20px;
  flex: 1;
  height: 100%; /* BU SATIR GEREKLİ */

  #list {
    margin-top: 20px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    min-height: 200px; /* LOADER İÇİN GEREKLİ */
    place-items: center; /* Loader tam ortada */

    .card {
      background-color: #333;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: 10px;
      height: fit-content;
      &:hover .play {
        opacity: 1;
        transition: opacity 0.8s ease;
        bottom: -44px;
      }
      figure {
        position: relative;
        img {
          width: 100%;
          border-radius: 10px;
        }
        .play {
          position: absolute;
          background-color: green;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: grid;
          place-items: center;
          font-size: 20px;
          right: 10px;
          bottom: 5px;
          opacity: 0;
          &:hover {
            background-color: red;
            scale: 1.5;
            rotate: 360deg;
          }
        }
      }
      .card-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
