main {
  background-color: $grayColor;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;

  header {
    background-color: $blackColor;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    gap: 20px;

    form {
      display: flex;
      width: 100%;
      box-shadow: 0 0 10px;
      max-width: 350px;
      border-radius: 5px;
      input {
        background: transparent;
        padding: 15px;
        width: 100%;
        color: $textColor;
      }
      button {
        background: none;
        cursor: pointer;
        margin-right: 10px;
        color: $textColor;
      }
    }

    nav {
      display: flex;
      gap: 15px;
      @include md {
        display: none;
      }

      span {
        font-size: 14px;
        cursor: pointer;
        white-space: nowrap;
        &:hover {
          color: white;
        }
      }
    }
  }
}
